---
---

@mixin box-shadow($x: 3px, $y: 3px, $blur: 3px, $spread: 0px, $color: rgba(0,0,0,.5)) {
    -webkit-box-shadow: $x $y $blur $spread $color;
    -moz-box-shadow:    $x $y $blur $spread $color;
    box-shadow:         $x $y $blur $spread $color;
}

// Colors
// Colorscheme: http://colorschemedesigner.com/#2m31Ew0w0w0w0
$base: #9fee00;
$dark_1: #86b32d;
$dark_2: #679b00;
$light_1: #b9f73e;
$light_2: #c9f76f;
$text_dark: #2a2a2a;
$text_light: #ffcc00;
$accent_light: #ffeb9b;
$link: #6C006C;
$link_hover: #7C1F7C;

$logo_border: 8px;
$logo_width: 240px;
$logo_height: 180px;

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,600italic,700);

body, table {
  font-size: 1em;
  color:$text_dark;
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  margin: 0.5 0 .25em 0;
}

p, table tr td, table tr th {
  font-size: 1.25em;
  font-weight: 300;
  margin: 0 0 .5em;
}

table tr td, table tr th {
  @media only screen and (max-width: 767px) {
    font-size: 1em;
  }
}

h1, h2, h3 {
  color:$dark_2;
  line-height: 1.5em;
}

h1 {
  font-size:2.5em;
  text-shadow: 1px 2px 1px rgba(0,0,0,.5);
}

h2 {
  font-size: 2em;
  text-shadow: 1px 1px 0px rgba(0,0,0,.5);
}

h3 {
  font-size: 1.5em;
  font-weight: 600;
  text-shadow: 1px 1px 0px rgba(0,0,0,.5);
}

a {
  color:$link;
  font-weight:400;
  text-decoration:none;

  &:hover {
    color: $link_hover;
  }

  &:visited {
    color: $link;
  }
}

em {
  font-weight: 300;
  font-style: italic;
}

strong {
  font-weight: 600;
}

td {
  vertical-align: top;
  padding: 0 .5em;
}

table tr th {
  vertical-align: top;
  font-weight: 600;
  padding-right: .5em;
}

article {
  padding-top: 10px;

  iframe, img {
    max-width: 100%;
    margin-left:auto;
    margin-right:auto;
    @include box-shadow;
  }

  p.center {
    text-align: center;
    font-size: 2em;
    color: $link;
  }
}

aside {
  background: url('/images/../images/stickmen_vertical.png?1345639177'), -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #86b32d), color-stop(100%, #ffffff));
  background: url('/images/../images/stickmen_vertical.png?1345639177'), -webkit-linear-gradient(left top, #86b32d, #ffffff);
  background: url('/images/../images/stickmen_vertical.png?1345639177'), -moz-linear-gradient(left top, #86b32d, #ffffff);
  background: url('/images/../images/stickmen_vertical.png?1345639177'), -o-linear-gradient(left top, #86b32d, #ffffff);
  background: url('/images/../images/stickmen_vertical.png?1345639177'), linear-gradient(left top, #86b32d, #ffffff);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#86b32d', endColorstr='#ffffff'), progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/stickmen_vertical.png');
  background-position:center center;
  background-repeat:no-repeat;
  height: 740px;
  @media only screen and (min-width: 768px) and (max-width: 895px) {
    top: -44px;
  }
}

footer {
  p {
    font-size: .8em;
    text-align: center;
  }
}

.nopadding {
  padding: 0;
}

ul{
  list-style-image:url('../images/bullet-green.png');
  list-style-position:inside;
}

#header {
  background: url(../images/nav-bg.png) $dark_1;
  border-top: 4px solid $dark_2;
  border-bottom: 4px solid $dark_2;
  @media only screen and (min-width: 768px) and (max-width: 895px) {
    border-bottom: 64px solid $dark_2;
  }
  top: $logo_border;
  @include box-shadow(0px, 2px, 5px);
  @media only screen and (min-width: 768px) and (max-width: 895px) {
    height: $logo_height - 2 * $logo_border + 60px;
  }
  @media only screen and (min-width: 896px) {
    height: $logo_height - 2 * $logo_border;
  }

  #title {
    h1, h2 {
      color: $light_2;
      text-align: center;
      line-height: 1.5em;
      margin: 0 0 0;
    }
  }

  ul {
    vertical-align: bottom;

    li {
      font-size: 1.25em;
      float: left;
      margin-left: .5em;
      background: url('../images/bullet.png') no-repeat 0px 13px transparent;
      padding-left: 13px;
      list-style: none;
      text-shadow: 1px 1px 0px rgba(0,0,0,.5);

      a {
        padding-right: .5em;
        margin: 0;
        color:$light_2;
        text-decoration:none;
        font-weight: 600;

        &:hover {
          color: $light_1;
        }
      }
    }
    li.home {
      @media only screen and (min-width: 585px) and (max-width: 670px) {
        display: none;
      }
    }
  }
}
.ie #header {
  ul.button-group {
    li {
      a {
        margin-left: -.5em;
      }
    }
  }
}

#logo {
  @media only screen and (max-width: 767px) {
    display: none;
  }
  z-index: 3;
  position: relative;
  width: 100%;
  height: $logo_height;
  border: $logo_border solid #cccccc;
  @include box-shadow(5px, 5px, 5px);
  background: url(../images/logo.jpg) $dark_1;
  background-position:center;
  background-repeat:no-repeat;
}
