// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";

@import "compass/css3";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,600italic,700);

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

body, table {
  font-size: 1em;
  color:$text_dark;
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

form {
  @include blueprint-form;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  margin:0 0 .25em;
}

p, ul, ol, td, th {
  font-size: 1.25em;
  font-weight: 300;
  margin:0 0 .5em;
  text-align: justify;
}

th {
  vertical-align: top;
  font-weight: 600;
  padding-right: .5em;
}

h1, h2, h3 {
  color:$dark_2;
  line-height: 1.5em;
}

h1 {
  font-size:2.5em;
  @include text-shadow(1px 2px 1px rgba(0,0,0,.5));
}

h2 {
  font-size: 2em;
  @include text-shadow(1px 1px 0px rgba(0,0,0,.5));
}

h3 {
  font-size: 1.5em;
  font-weight: 600;
  @include text-shadow(1px 1px 0px rgba(0,0,0,.5));
}

iframe {
  @include box-shadow(5px 5px 5px rgba(0,0,0,.5));
}

a {
  color:$link;
  font-weight:400;
  text-decoration:none;

  &:hover {
    color: $link_hover;
  }

  &:visited {
    color: $link;
  }
}

ul{
  list-style-image:url('../images/bullet-green.png');
  list-style-position:inside;
}

em {
  font-weight: 300;
  font-style: italic;
}

strong {
  font-weight: 600;
}

blockquote {
  border-left:3px solid $text_light;
  margin:0;
  padding:0 0 0 2em;
  font-style:italic;
}

#header {
  @include column($blueprint-grid-columns, true);
  z-index: 2;
  top: $header_offset;
  height: $header_height;
  position: fixed;
  background: url(../images/nav-bg.png) $dark_1;
  border-top: 4px solid $dark_2;
  border-bottom: 4px solid $dark_2;
  @include box-shadow(0px 2px 5px rgba(0,0,0,.5));

  #title {
    @include column($content-columns);
    height: $header_height;
    h1, h2 {
      color: $light_2;
      text-align: center;
      line-height: 1.5em;
      margin: 0 0 0;
    }

    nav {
      float: right;
      vertical-align: bottom;

      li {
        font-size: 1.25em;
        margin-left: .5em;
        float: left;
        list-style-image:url('../images/bullet.png');
        list-style-position:inside;
        @include text-shadow(1px 1px 0px rgba(0,0,0,.5));

        a {
          color:$light_2;
          text-decoration:none;
          font-weight: 600;

          &:hover {
            color: $light_1;
          }
        }
      }
    }
  }

  #logo {
    @include column($sidebar-columns, true);
    position: relative;
    top: -$header_offset;
    width: $logo_width;
    height: $logo_height;
    border: $logo_border solid #cccccc;
    @include box-shadow(5px 5px 5px rgba(0,0,0,.5));
    background: url(../images/logo.jpg) $dark_1;
  }
}

#container {
  @include container;
  height: 100%;
  margin: 0 auto 0 auto;
}

.clear {
  clear: both;
}

#body {
  height: 100%;
  overflow: auto;
}

#content {
  @include column($content-columns);

  #article {
    padding: $content_margin 2em 0 2em;
  }

  #footer {
    bottom: 0;
    padding: 1em 2em 0 2em;
    p {
      font-size: .8em;
      text-align: center;
    }
  }

  #center p {
    text-align: center;
    font-size: 2em;
    color: $link;
  }

  img {
    max-width: 100%;
  }
}

#sidebar {
  @include column($sidebar-columns, true);
  bottom: 0;
  margin-left: $logo_border;
  width: $logo_width;
  height: 100%;
  background-color: $dark_1;
}
