---
layout: default
#title: Yoga im Aischgrund
---

#center
  :markdown
    Yogaunterricht in der Tradition von  
    *Krishnamacharya*  
    und  
    *T.K.V. Desikachar*  

:markdown
  ## Yoga-Intensivwoche(n) Sommer 2013

  Jeden Tag eine Stunde üben

  <table>
  <tr><th>19. – 23. August 2013</th><td>Kurs 1: 9 – 10 Uhr</td><td>Kurs 2: 18 – 19 Uhr</td></tr>
  <tr><th>26. - 30. August 2013</th><td>Kurs 3: 9 – 10 Uhr</td><td>Kurs 4: 18 – 19 Uhr</td></tr>
  </table>

  Preis: 30 € pro Kurs

  ## Herbstkurse 2013

  <table>
  <tr><th>Mittwoch</th><td>10:30-12:00 Uhr</td><td>ab 18.09.2013</td></tr>
  <tr><th>Donnerstag</th><td>18:15-19:45 Uhr<br />20:00-21:30 Uhr</td><td>ab 19.09.2013</td></tr>
  <tr><th>Freitag</th><td>8:30-10:00 Uhr<br />10:15-11:45 Uhr</td><td>ab 20.09.2013</td></tr>
  </table>

  Ein Kurs umfasst 10 Unterrichtseinheiten und kostet 75 €.

  ## Kontakt

  Gabriele Rathgeber  
  Frankenring 70  
  91325 Adelsdorf

  Tel. {{ site.phone }}  
  Email: <{{ site.email }}>

  ## Anfahrt

<iframe width="640" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
src="https://maps.google.de/maps?f=q&amp;source=s_q&amp;hl=de&amp;geocode=&amp;q=Frankenring+70,+91325,+Adelsdorf,+Deutschland&amp;aq=0&amp;oq=frankenring+70,+91325+&amp;sll=51.516635,-0.170095&amp;sspn=0.012124,0.012252&amp;ie=UTF8&amp;hq=&amp;hnear=Frankenring+70,+91325+Adelsdorf,+Mittelfranken,+Bayern,+Germany&amp;t=m&amp;ll=49.713769,10.909081&amp;spn=0.019425,0.036478&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
<small><a href="https://maps.google.com/maps?f=q&source=embed&hl=de&geocode=&q=Frankenring+70,+91325,+Adelsdorf,+Deutschland&aq=0&oq=frankenring+70,+91325+&sll=51.516635,-0.170095&sspn=0.012124,0.012252&ie=UTF8&hq=&hnear=Frankenring+70,+91325+Adelsdorf,+Mittelfranken,+Bayern,+Germany&t=m&ll=49.713769,10.909081&spn=0.019425,0.036478&z=14&iwloc=A">Größere Kartenansicht öffnen</a></small>

-#%ul.posts
  -#== {% for post in site.posts %}
  -#%li
    -#%span
      -#== {{ post.date | date_to_string }}
      -#&raquo;
      -#%a{:href => "{{ post.url }}"}
        -#== {{ post.title }}
  -#== {% endfor %}

