---
sidebar:
- gruppenunterricht
- einzelunterricht
- qualifikation
---
<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if IE 8]>    <html class="no-js ie lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]> <html class="no-js ie" lang="en"> <![endif]-->
<!--[if !IE]><!--> <html class="no-js" lang="en" itemscope itemtype="https://schema.org/LocalBusiness"> <!--<![endif]-->
<head>
  <base href='{{ site.baseurl }}'>
  <meta charset="utf-8" />

  <meta itemprop="name" content="Yoga in Adelsdorf im Aischgrund - Gabriele Rathgeber - Yogalehrerin BDY/EYU" />
  <meta itemprop="description" content="Gabriele Rathgeber, Yogalehrerin BDY/EYU, Viniyoga in der Tradition von Krishnamacharya und T.K.V. Desikachar, Yoga Kurse, Gruppenunterricht, Einzelunterricht, Yoga für Schwangere, Yoga nach der Geburt in Adelsdorf im Aischgrund in Mittelfranken." />
  <meta itemprop="image" content="{{ site.url }}/images/logo.jpg" />
  <meta itemprop="url" content="https://yoga-rathgeber.de" />
  <meta itemprop="address" content="Frankenring 70, 91325 Adelsdorf" />
  <meta itemprop="telephone" content="{{ site.phone }}" />
  <meta itemprop="priceRange" content="$" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

  <title>{{ site.title }} :: {{ site.subtitle }} :: {{ page.title }}</title>

  <meta content='text/html; charset=utf-8' http-equiv='content-type' />
  <meta content='{{ site.author }}' name='author' />

  <!-- Open Graph markup https://developers.facebook.com/docs/sharing/webmasters //-->
  <meta property="fb:pages"       content="549199405262433" />
  <meta property="og:url"         content="{{ site.url }}{{ page.url }}" />
  <meta property="og:type"        content="business.business" />
  <meta property="og:title"       content="{{ site.title }} :: {{ site.subtitle }}" />
  <meta property="og:site_name"   content="{{ site.title }}" />
  <meta property="og:description" content="Gabriele Rathgeber, Yogalehrerin BDY/EYU, Viniyoga in der Tradition von Krishnamacharya und T.K.V. Desikachar, Yoga Kurse, Gruppenunterricht, Einzelunterricht, Yoga für Schwangere, Yoga nach der Geburt in Adelsdorf im Aischgrund in Mittelfranken." />
  <meta property="og:image"       content="{{ site.url }}/images/favicon.png" />
  <meta property="og:locale"      content="de_DE" />
  <meta property="business:contact_data:street_address" content="Frankenring 70" />
  <meta property="business:contact_data:locality"       content="Adelsdorf" />
  <meta property="business:contact_data:postal_code"    content="91325" />
  <meta property="business:contact_data:country_name"   content="Germany" />
  <meta property="business:contact_data:website"        content="{{ site.url }}" />
  <meta property="business:contact_data:phone_number"   content="{{ site.phone }}" />
  <meta property="place:location:latitude"              content="49.71304" />
  <meta property="place:location:longitude"             content="10.9079713" />

  <link href='{{ site.feedurl }}' rel='alternate' title='{{ site.title }}' type='application/atom+xml' />
  <!-- https://support.google.com/webmasters/answer/139066?hl=en //-->
  <link rel="canonical" href="{{ site.url }}{{ page.url }}">
  <link rel="stylesheet" href="//cdn.jsdelivr.net/foundation/4.3.1/css/foundation.min.css">
  <link href='css/styles.css' rel='stylesheet' type='text/css' />

  <link href='images/favicon.png' rel='shortcut icon' type='image/png' />
  <link href='images/apple-touch-icon-57x57-precomposed.png' rel='apple-touch-icon' type='image/png' />
  <link href='images/apple-touch-icon-72x72-precomposed.png' rel='apple-touch-icon' sizes='72x72' type='image/png' />
  <link href='images/apple-touch-icon-114x114-precomposed.png' rel='apple-touch-icon' sizes='114x114' type='image/png' />

  <link href="https://plus.google.com/105967573150332682882" rel="publisher" />
</head>
<body>

  <!-- Nav Bar -->
  <div class="row">
    <div class="large-9 columns" id="header">
      <div id="title">
        <h1><a href=''>{{ site.title }}</a></h1>
        <h2>{{ site.subtitle }}</h2>
      </div>
      <div class="nav-bar right">
       <ul>
         <li class="home"><a href='{{ site.baseurl }}'>Home</a></li>
         {% for cat in layout.sidebar %}
         <li><a href='{{ cat }}/'>{{ cat | replace:'_',' ' | capitalize }}</a></li>
         {% endfor %}
        </ul>
      </div>
    </div>
    <div class="large-3 columns nopadding">
      <div id="logo"></div>
    </div>
  </div>
  <!-- End Nav -->

  <!-- Main Page Content and Sidebar -->
  <div class="row">

    <!-- Main Content -->
    <div class="large-9 columns" role="content">

      <article>
        {% if page.title %}
        <h1>{{ page.title }}</h1>
        {% endif %}
        {{ content }}
      </article>

    </div>
    <!-- End Main Content -->

    <!-- Sidebar -->
    <aside class="large-3 columns">
    </aside>
    <!-- End Sidebar -->

  </div>
  <!-- End Main Content and Sidebar -->

  <!-- Footer -->
  <footer class="row">
    <div class="large-12 columns" itemscope itemtype="https://schema.org/PostalAddress">
      <hr />
      <div class="row">
        <div class="large-3 columns">
          <p>Tel.: <span itemprop="telephone">{{ site.phone }}</span><br />
          Email: <a href="&#x6d;&#97;&#105;&#108;&#116;&#111;&#x3a;&#x67;&#97;&#x62;&#x72;&#x69;&#101;&#108;&#101;&#46;&#114;&#97;&#x74;&#x68;&#103;&#x65;&#98;&#101;&#x72;&#64;&#x67;&#109;&#x78;&#x2e;&#100;&#101;" itemprop="email">&#x67;&#97;&#98;&#x72;&#105;&#101;&#x6c;&#101;&#x2e;&#114;&#97;&#x74;&#x68;&#103;&#101;&#x62;&#x65;&#x72;&#64;&#x67;&#x6d;&#120;&#x2e;&#100;&#101;</a></span></p>
        </div>
        <div class="large-3 columns">
          <p><span itemprop="streetAddress">Frankenring 70</span><br />
          <span itemprop="postalCode">91325</span> <span itemprop="addressLocality">Adelsdorf</span>,
          <span itemprop="addressCountry">Germany</span></p>
        </div>
        <div class="large-3 columns">
          <p><a href="https://facebook.com/YogaAischgrund/">Facebook</a></p>
          <p><a href="https://plus.google.com/116545936001486069430" rel="publisher">Google+</a></p>
        </div>
        <div class="large-3 columns">
          <p><a href="impressum/">Impressum</a></p>
          <p>&copy; {{ site.time | date: "%Y" }} Gabriele Rathgeber.</p>
        </div>
      </div>
    </div>
  </footer>
  <!-- End Footer -->

  <script>
  window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
  ga('create', '{{ site.analytics_id }}', 'auto');
  ga('require', 'autotrack');
  ga('send', 'pageview');
  </script>
  <script async src='//www.google-analytics.com/analytics.js'></script>
  <script async src='//cdnjs.cloudflare.com/ajax/libs/autotrack/0.6.3/autotrack.js'></script>

  <script type="text/javascript" async defer
    src="https://apis.google.com/js/platform.js?publisherid=105967573150332682882">
  </script>

  <script type="text/javascript" async defer
    src="//cdn.jsdelivr.net/foundation/4.3.1/js/vendor/custom.modernizr.js">
  </script>

  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Course",
    "description": "
Dieser Unterricht findet in kleinen Gruppen mit maximal 10 Personen statt.

Langsame Bewegungsabläufe, die in Verbindung mit dem Atem geübt werden, bilden den größten Teil der Yogastunde. Je nach den persönlichen Möglichkeiten der einzelnen Teilnehmer/innen werden auch unterschiedliche Variationen einer Yogahaltung angeboten, was die positive Wirkung des Übens unterstützt. Diese Art des Unterrichts kennzeichnet u.a. die Tradition von T. Krishnamacharya und T.K.V. Desikachar, in der ich ausgebildet wurde.

Auch spezielle Atemübungen oder auch kleine Meditationen können je nach Interesse einer Gruppe in die Yogastunde aufgenommen werden.

Die Kurse werden von den meisten Krankenkassen bezuschusst.",
    "genre": "Yoga",
    "image": "{{ site.url }}/images/group1.jpg",
    "name": "Yoga Gruppenunterricht",
    "provider": {
      "@type": "Organization",
      "name": "{{ site.title }}: {{ site.subtitle }}",
      "url": "{{ site.url }}"
    },
    "url": "{{ site.url }}/gruppenunterricht/"
  }
  </script>

  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Course",
    "description": "
Wenn Sie eine speziell auf Ihre Bedürfnisse abgestimmte Yogapraxis wünschen, die Sie zu Hause selbstständig üben können, weil Sie beispielsweise Ihre Gesundheit erhalten oder verbessern möchten oder ruhiger werden und Stress abbauen wollen, so kann schon eine regelmäßige Übungszeit von 15 oder 20 Minuten eine positive Veränderung bewirken.

Der Einzelunterricht, bei dem ein Lehrer einen einzelnen Schüler unterrichtet, folgt einer sehr langen Yogatradition.

Ihr persönliches Anliegen, das Sie zum Yoga führt, steht  ganz im Mittelpunkt dieser individuellen Arbeit, für die sich folgende Vorgehensweise bewährt hat:

Die erste Stunde:
Beim ersten Treffen lerne ich Sie und Ihre Wünsche an eine Yogapraxis kennen, ebenso Ihre körperlichen und zeitlichen Möglichkeiten und etwaigen Beschwerden.
Dies bildet die Grundlage für ein erstes Übungsprogramm, das Sie in schriftlicher Form erhalten werden.

Die weiteren Stunden:
In den folgenden fünf Stunden wird Ihre jeweilige Erfahrung berücksichtigt und Ihre Yogapraxis entsprechend verändert.

Der Einführungskurs (200 EUR) umfasst somit sechs Stunden à 60 Minuten, die sich auf einen Zeitraum von drei bis vier Monaten verteilen.

Auf diese Weise entsteht im Laufe unserer Zusammenarbeit eine ganz auf Sie zugeschnittene Yogapraxis.

Selbstverständlich können Sie diesem Einführungskurs weitere Stunden (je 40 EUR) folgen lassen.",
    "genre": "Yoga",
    "image": "{{ site.url }}/images/single.jpg",
    "name": "Yoga Einzelunterricht",
    "provider": {
      "@type": "Organization",
      "name": "{{ site.title }}: {{ site.subtitle }}",
      "url": "{{ site.url }}"
    },
    "url": "{{ site.url }}/einzelunterricht/"
  }
  </script>

  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Course",
    "description": "{% include schwangere.md %}",
    "genre": "Yoga",
    "name": "Yoga für Schwangere",
    "provider": {
      "@type": "Organization",
      "name": "{{ site.title }}: {{ site.subtitle }}",
      "url": "{{ site.url }}"
    },
    "url": "{{ site.url }}/gruppenunterricht/"
  }
  </script>

</body>
</html>
