---
sidebar_cats:
- gruppenunterricht
- einzelunterricht
- qualifikation
---

<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if IE 8]>    <html class="no-js ie lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]> <html class="no-js ie" lang="en"> <![endif]-->
<!--[if !IE]><!--> <html class="no-js" lang="en" itemscope itemtype="http://schema.org/LocalBusiness"> <!--<![endif]-->
<head>
  <base href='{{ site.baseurl }}'>
  <meta charset="utf-8" />

  <meta itemprop="name" content="Yoga in Adelsdorf im Aischgrund - Gabriele Rathgeber - Yogalehrerin BDY/EYU" />
  <meta itemprop="description" content="Gabriele Rathgeber, Yogalehrerin BDY/EYU, Viniyoga in der Tradition von Krishnamacharya und T.K.V. Desikachar, Yoga Kurse, Gruppenunterricht, Einzelunterricht, Yoga für Schwangere, Yoga nach der Geburt in Adelsdorf im Aischgrund in Mittelfranken." />
  <meta itemprop="image" content="images/logo.jpg" />
  <meta itemprop="url" content="http://yoga-rathgeber.de" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

  <title>{{ site.title }} :: {{ site.subtitle }} :: {{ page.title }}</title>

  <meta content='text/html; charset=utf-8' http-equiv='content-type' />
  <meta content='{{ site.author }}' name='author' />

  <link href='{{ site.feedurl }}' rel='alternate' title='{{ site.title }}' type='application/atom+xml' />
  <link rel="stylesheet" href="//cdn.jsdelivr.net/foundation/4.3.1/css/foundation.min.css">
  <link href='css/styles.css' rel='stylesheet' type='text/css' />

  <script src="//cdn.jsdelivr.net/foundation/4.3.1/js/vendor/custom.modernizr.js"></script>

  <link href='images/favicon.png' rel='shortcut icon' type='image/png' />
  <link href='images/apple-touch-icon-57x57-precomposed.png' rel='apple-touch-icon' type='image/png' />
  <link href='images/apple-touch-icon-72x72-precomposed.png' rel='apple-touch-icon' sizes='72x72' type='image/png' />
  <link href='images/apple-touch-icon-114x114-precomposed.png' rel='apple-touch-icon' sizes='114x114' type='image/png' />

  <link href="https://plus.google.com/105967573150332682882" rel="publisher" />
</head>
<body>

  <!-- Nav Bar -->
  <div class="row">
    <div class="large-9 columns" id="header">
      <div id="title">
        <h1><a href=''>{{ site.title }}</a></h1>
        <h2>{{ site.subtitle }}</h2>
      </div>
      <div class="nav-bar right">
       <ul>
         <li class="home"><a href='{{ site.baseurl }}'>Home</a></li>
         {% for cat in (page.sidebar_cats) %}
         <li><a href='{{ cat }}'>{{ cat | replace:'_',' ' | capitalize }}</a></li>
         {% endfor %}
        </ul>
      </div>
    </div>
    <div class="large-3 columns nopadding">
      <div id="logo"></div>
    </div>
  </div>
  <!-- End Nav -->

  <!-- Main Page Content and Sidebar -->
  <div class="row">

    <!-- Main Content -->
    <div class="large-9 columns" role="content">

      <article>
        {% if page.title %}
        <h1>{{ page.title }}</h1>
        {% endif %}
        {{ content }}
      </article>

    </div>
    <!-- End Main Content -->

    <!-- Sidebar -->
    <aside class="large-3 columns">
    </aside>
    <!-- End Sidebar -->

  </div>
  <!-- End Main Content and Sidebar -->

  <!-- Footer -->
  <footer class="row">
    <div class="large-12 columns" itemscope itemtype="http://schema.org/PostalAddress">
      <hr />
      <div class="row">
        <div class="large-3 columns">
          <p>Tel.: <span itemprop="telephone">{{ site.phone }}</span><br />
          Email: <a href="&#x6d;&#97;&#105;&#108;&#116;&#111;&#x3a;&#x67;&#97;&#x62;&#x72;&#x69;&#101;&#108;&#101;&#46;&#114;&#97;&#x74;&#x68;&#103;&#x65;&#98;&#101;&#x72;&#64;&#x67;&#109;&#x78;&#x2e;&#100;&#101;" itemprop="email">&#x67;&#97;&#98;&#x72;&#105;&#101;&#x6c;&#101;&#x2e;&#114;&#97;&#x74;&#x68;&#103;&#101;&#x62;&#x65;&#x72;&#64;&#x67;&#x6d;&#120;&#x2e;&#100;&#101;</a></span></p>
        </div>
        <div class="large-3 columns">
          <p><span itemprop="streetAddress">Frankenring 70</span><br />
          <span itemprop="postalCode">91325</span> <span itemprop="addressLocality">Adelsdorf</span>,
          <span itemprop="addressCountry">Germany</span></p>
        </div>
        <div class="large-3 columns">
          <p><a href="impressum">Impressum</a><br />
          <a href="https://plus.google.com/116545936001486069430" rel="publisher">Google+</a></p>
        </div>
        <div class="large-3 columns">
          <p>&copy; 2015 Gabriele Rathgeber.</p>
        </div>
      </div>
    </div>
  </footer>
  <!-- End Footer -->

  <script type='text/javascript'>
    //<![CDATA[
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '{{ site.analytics_id }}']);
      _gaq.push(['_trackPageview']);
      
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    //]]>
  </script>

  <script type="text/javascript" async defer
    src="https://apis.google.com/js/platform.js?publisherid=105967573150332682882">
  </script>

</body>
</html>
